/*CSS*/

html{
	font-family: Arial;
}
#Header{
	font-size:3em;
	padding:10%;
	width:10em;
	height:1.5em;
	text-align: center;
	
	color:rgb(15%,75%,15%);

	border-radius: 10% 0 10% 0;
	box-shadow: 0 0 4em rgb(30%,85%,30%);
	margin: 100px auto;
	background-color: rgb(30%,85%,30%);
}

.button_Hover{
	background-color: rgb(25%%,95%,25%);
}

.Tile{
	background-color:red;
}

.off{
	background-color: blue;
}
tr{
	display: block;
}
#Table{
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
}
.Input{
	margin: 50px auto;
	text-align: center;
}
.submit{
	margin: 10px auto;
	width: 100px;
	height: 20px;
	text-align: center;
	color:white;
	border: 2px solid brown;
	box-shadow: 0 0 10px green;
	border-radius: 30%;
	background-color: rgb(10%, 100%, 10%);
}